.container{
    max-width:1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.post{
 
    max-width:1120px;
    margin:4rem auto 0;
    padding:0 0.1rem;

    img{
        width: 100%;
        max-height: 40rem;
        margin-bottom: 1rem;
        object-fit:cover;
    }

    h1{
        font-size: 2.1rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }

    time{

        font-size:1rem;
        color:var(--gray-300);
        
    }

    strong{
 
        line-height: 6rem;
        font-size: 1.2rem;
        color: var(--purple-500);
        width: 100%;
        
    }

    .postContent{
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.05rem;
        color: var(--gray-300);
        width: 100%;
        white-space: pre-wrap;
        &.previewContent{
        
            background: linear-gradient(var(--gray-100), transparent);
            background-clip: text;
            -webkit-text-fill-color:transparent ;
        }

    }

    
}

.continueReading{
    padding:2rem;
    text-align: center;
    background:var(--gray-800);
    border-radius: 100px;

    font-size: 1.25rem;
    font-weight: bold;

    margin: 4rem 0 2rem;

    a{
        color:var(--yellow-500);

        &:hover{
            text-decoration: underline;
        }
    }

    
}

.loadingMessage{
    text-align: center;
    display:flex ;
    width: 100%;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
    //color:#aa2f2f;
    color: var(--purple-500);
}